<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<table>
  <tr>
    <td>Title</td>
    <td>Content</td>
  </tr>
  <% @user.posts.each do |p|%>
    <tr>
      <td><%= p.title %></td>
      <td><%= p.content %></td>
      <td><%= link_to 'Show', post_path(p) %></td>
      <td><%= link_to 'Edit', edit_post_path(p,:u_id => params[:id]) %></td>
      <td><%= link_to 'Delete', post_path(p),:method => :delete %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Post', new_post_path(:u_id => params[:id]) %>
<%= link_to 'Back', users_path %>
